
{% load static %}

<link rel="stylesheet" href="{% static 'home/css/bootstrap.css' %}">
{% include 'navbar.html' %}
<div class="container">
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <div class="col">
      <div class="p-3 border bg-light">Sale</div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">Expense</div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">Retrieve</div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">Stock</div>
    </div>
    </div>
  </div>